apiVersion: v1
kind: Secret
metadata:
  name: cluster-ca-auth
  namespace: kube-system
type: Opaque
data:
  ca.crt: {{ lookup('file', pki_output_folder + '/authorities/root-ca.crt') | b64encode }}
  ca.key: {{ lookup('file', pki_output_folder + '/authorities/root-ca.key') | b64encode }}
  front-proxy-ca.crt: {{ lookup('file', pki_output_folder + '/authorities/root-ca.crt') | b64encode }}
  front-proxy-ca.key: {{ lookup('file', pki_output_folder + '/authorities/root-ca.key') | b64encode }}