- name: Setup default ssh folders
  ansible.builtin.file:
    path: "{{ ssh_keys_dir }}"
    state: directory
    mode: '0700'
  delegate_to: localhost
  become: false
  run_once: true

- name: Generate SSH ED25519 Key Pairs
  community.crypto.openssh_keypair:
    path: "{{ ssh_keys_dir }}/{{ item.username }}_id_ed25519"
    type: ed25519
    comment: "{{ item.username }}@{{ inventory_hostname }}"
    state: present
    mode: "0600"
    force: false
  delegate_to: localhost
  become: false
  loop: "{{ system_users }}"

- name: Manage User Groups
  ansible.builtin.group:
    name: "{{ item }}"
    state: present
  become: true
  loop: "{{ system_groups }}"

- name: Manage Users
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups: "{{ item.groups }}"
    shell: "{{ item.shell | default('/bin/bash') }}"
    append: true
    state: "{{ item.state }}"
    create_home: true
    password_lock: true
  become: true
  loop: "{{ system_users }}"
  loop_control:
    label: "{{ item.username }}"

- name: Inject User Keys
  ansible.posix.authorized_key:
    user: "{{ item.username }}"
    key: "{{ lookup('file', ssh_keys_dir + '/' + item.username + '_id_ed25519.pub') }}"
    state: present
    exclusive: true
  become: true
  when:
    - item.state | default('present') != 'absent'
  loop: "{{ system_users }}"
  loop_control:
    label: "{{ item.username }}"

- name: Grant Passwordless Sudo
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/{{ item.username }}
    line: "{{ item.username }} ALL=(ALL) NOPASSWD: ALL"
    create: true
    mode: "0440"
    owner: root
    group: root
    state: present
  become: true
  loop: "{{ system_users }}"
  loop_control:
    label: "{{ item.username }}"

- name: Hardening SSH Configuration
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
    validate: 'sshd -t -f %s'
  loop:
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^#?KerberosAuthentication', line: 'KerberosAuthentication no' }
    - { regexp: '^#?GSSAPIAuthentication', line: 'GSSAPIAuthentication no' }
    - { regexp: '^#?ChallengeResponseAuthentication', line: 'ChallengeResponseAuthentication no' }
  notify: Restart SSH
  become: true
