- name: Refresh Network Facts (catch tailscale0 interface)
  ansible.builtin.setup:
    gather_subset: network
  become: true
  tags:
    - tailscale
    - firewalld

- name: Create Zero Trust Firewall Zone
  ansible.posix.firewalld:
    zone: ztn_network
    state: present
    permanent: true
  become: true
  notify: Reload_firewalld
  tags:
    - tailscale
    - firewalld

- name: Flush Handlers to Register ZTN zone
  ansible.builtin.meta: flush_handlers
  tags:
    - tailscale
    - firewalld

- name: Bind Tailscale0 Interface into ZTN Zone
  ansible.posix.firewalld:
    zone: ztn_network
    interface: tailscale0
    state: enabled
    permanent: true
    immediate: true
  become: true
  when: "'tailscale0' in ansible_interfaces"
  tags:
    - tailscale
    - firewalld

- name: Enable Masquerade on ZTN Zone
  ansible.posix.firewalld:
    zone: ztn_network
    masquerade: true
    state: enabled
    permanent: true
    immediate: true
  become: true
  tags:
    - tailscale
    - firewalld

- name: Enable Forwarding on ZTN Zone (for subnet routing)
  ansible.builtin.command:
    cmd: firewall-cmd --zone=ztn_network --set-target=ACCEPT --permanent
  become: true
  changed_when: true
  notify: Reload_firewalld
  tags:
    - tailscale
    - firewalld

- name: Enable Forwarding on ZTN Zone (immediate)
  ansible.builtin.command:
    cmd: firewall-cmd --zone=ztn_network --set-target=ACCEPT
  become: true
  changed_when: true
  tags:
    - tailscale
    - firewalld

- name: Allow SSH in ZTN Zone
  ansible.posix.firewalld:
    zone: ztn_network
    service: "{{ item }}"
    state: enabled
    permanent: true
    immediate: true
  become: true
  loop:
    - ssh
    - http
    - https
  tags:
    - tailscale
    - firewalld

- name: Allow DNS Inbound Traffic on comming from the Tailnet IP
  ansible.posix.firewalld:
    zone: ztn_network
    rich_rule: 'rule family="ipv4" source address="100.64.0.0/10" service name="dns" accept'
    state: enabled
    permanent: true
    immediate: true
  become: true
  tags:
    - tailscale
    - firewalld
