- name: Enable Ipv4 Fowarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: true
    state: present
    reload: true
  become: true
  tags:
    - tailscale

- name: Enable Ipv6 Fowarding
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.forwarding
    value: '1'
    sysctl_set: true
    state: present
    reload: true
  become: true
  tags:
    - tailscale
