- name: Remove any UFW Configuration
  ansible.builtin.include_tasks:
   file: disable-ufw.yml
  tags:
   - network_gateways

- name: Setup Firewalld as Firewall Manager
  ansible.builtin.include_tasks:
   file: firewalld.yml
  tags:
   - network_gateways

- name: Refresh network facts
  ansible.builtin.setup:
   gather_subset: network
  become: true

- name: Trust Network Interfaces
  ansible.builtin.include_tasks:
   file: trust-external-interfaces.yml
  tags:
   - network_gateways

- name: Configure Firewall Rules
  ansible.builtin.include_tasks:
   file: firewall-policies.yml
  tags:
   - network_gateways
