---
apiVersion: v1
kind: Secret
metadata:
  name: {{ node_name }}-server-cert
  namespace: kube-system
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
type: kubernetes.io/tls
data:
  tls.crt: "{{ kubernetes_cni_workstations_ingress_cert['content'] }}"
  tls.key: "{{ kubernetes_cni_workstations_ingress_cert_key['content'] }}"

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ node_name }}-ca-trust
  namespace: kube-system
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
type: Opaque
data:
  ca.crt: "{{ kubernetes_cni_workstations_root_ca['content'] }}"
