http:
  serversTransports:
{% for service in pki_services %}
    {{ service.name }}-transport:
      serverName: "{{ service.dns }}"
      insecureSkipVerify: false
      rootCAs:
        - /etc/traefik/certs/lab_root_ca.crt
      certificates:
        - certFile: /etc/traefik/certs/{{ service.name }}.crt
          keyFile: /etc/traefik/certs/{{ service.name }}.key
      maxIdleConnsPerHost: 42
      forwardingTimeouts:
        dialTimeout: 30s
        responseHeaderTimeout: 60s
        idleConnTimeout: 120s
        readIdleTimeout: 60s
{% endfor %}

tls:
  certificates:
{% for service in pki_services %}
    - certFile: /etc/traefik/certs/{{ service.name }}.crt
      keyFile: /etc/traefik/certs/{{ service.name }}.key
{% endfor %}
  options:
    default:
      minVersion: VersionTLS12
      maxVersion: VersionTLS13
      clientAuth:
        caFiles:
          - /etc/traefik/certs/lab_root_ca.crt
        clientAuthType: RequireAndVerifyClientCert
      sniStrict: true