http:
  middlewares:
    traefik-auth:
      basicAuth:
        users:
          - "{{ traefik_username }}:{{ traefik_password_hash }}"
    
    trilium-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"

  serversTransports:
{% for service in pki_services %}
    {{ service.name }}-transport:
      serverName: "{{ service.dns }}"
      insecureSkipVerify: false
      rootCAs:
        - /etc/traefik/certs/lab_root_ca.crt
      certificates:
        - certFile: /etc/traefik/certs/traefik.crt
          keyFile: /etc/traefik/certs/traefik.key
      maxIdleConnsPerHost: 42
      forwardingTimeouts:
        dialTimeout: 30s
        responseHeaderTimeout: 60s
        idleConnTimeout: 120s
        readIdleTimeout: 60s
{% endfor %}

tcp:
  routers:
    # Static TCP router for host network GhostTunnel services
    upsnap-tcp:
      rule: "HostSNI(`snap.lab`)"
      entryPoints:
        - websecure
      service: upsnap-tcp-service
      tls:
        passthrough: true
  
  services:
    # Static TCP service for host network GhostTunnel
    upsnap-tcp-service:
      loadBalancer:
        servers:
          - address: "192.168.1.77:8443"  # Host IP and GhostTunnel port

tls:
  certificates:
{% for service in pki_services %}
    - certFile: /etc/traefik/certs/{{ service.name }}.crt
      keyFile: /etc/traefik/certs/{{ service.name }}.key
{% endfor %}
  options:
    default:
      minVersion: VersionTLS12
      maxVersion: VersionTLS13
      clientAuth:
        caFiles:
          - /etc/traefik/certs/lab_root_ca.crt
        clientAuthType: RequireAndVerifyClientCert
      sniStrict: true