- name: "Set Default Timezone"
  community.general.timezone:
    name: "{{ default_timezone }}"
  tags:
    - common
    - essential

- name: "Ensure Locales are generated (Debian/Ubuntu)"
  community.general.locale_gen:
    name: "{{ item }}"
    state: present
  loop: "{{ default_locales }}"
  when: ansible_os_family == "Debian"
  tags:
    - common
    - essential

- name: "Ensure locale support is installed (Fedora/RedHat)"
  ansible.builtin.dnf:
    name: glibc-all-langpacks
    state: present
  when: ansible_os_family == "RedHat"
  tags:
    - common
    - essential

- name: "Check Current Locale"
  ansible.builtin.command: "localectl status"
  register: common_current_locale
  changed_when: false
  become: true
  tags:
    - common
    - essential

- name: "Set Default Locale"
  ansible.builtin.command: "localectl set-locale LANG={{ default_locale }}"
  become: true
  when: default_locale not in common_current_locale.stdout
  changed_when: true
  tags:
    - common
    - essential

- name: "Install NTP - systemd-timesyncd (Debian/Ubuntu)"
  ansible.builtin.package:
    name: systemd-timesyncd
    state: present
  when: ansible_os_family == "Debian"
  become: true
  tags:
    - common
    - essential

- name: "Enable NTP - systemd-timesyncd (Debian/Ubuntu)"
  ansible.builtin.service:
    name: systemd-timesyncd
    state: started
    enabled: true
  when: ansible_os_family == "Debian"
  become: true
  tags:
    - common
    - essential

- name: "Install NTP - chrony (Fedora/RedHat)"
  ansible.builtin.dnf:
    name: chrony
    state: present
  when: ansible_os_family == "RedHat"
  become: true
  tags:
    - common
    - essential

- name: "Enable NTP - chronyd (Fedora/RedHat)"
  ansible.builtin.service:
    name: chronyd
    state: started
    enabled: true
  when: ansible_os_family == "RedHat"
  become: true
  tags:
    - common
    - essential
