{# Build a kubeconfig for remote access to the cluster.
   Uses PKI client certificates (from pki_client_devices) for authentication,
   matching the RBAC ClusterRoleBinding subjects.
   The server URL is preserved from the cluster's admin.conf. #}
{% set admin_conf = kubernetes_security_workstations_admin_kubeconfig_raw.content | b64decode | from_yaml %}
{% set original_server = "https://nlb.k8s.monster.lab" %} #TODO: Replace with all.yml group vars to declare NLB Address
---
apiVersion: v1
kind: Config
clusters:
  - cluster:
      certificate-authority-data: "{{ kubernetes_security_workstations_ca_cert_b64 }}"
      server: "{{ original_server }}"
    name: "{{ cluster_name }}"
contexts:
{% for device in pki_client_devices %}
  - context:
      cluster: "{{ cluster_name }}"
      user: "{{ device.common_name }}"
    name: "{{ device.name }}@{{ cluster_name }}"
{% endfor %}
current-context: "{{ pki_client_devices[0].name }}@{{ cluster_name }}"
preferences: {}
users:
{% for device in pki_client_devices %}
  - name: "{{ device.common_name }}"
    user:
      client-certificate-data: "{{ kubernetes_security_workstations_client_certs[device.name].cert }}"
      client-key-data: "{{ kubernetes_security_workstations_client_certs[device.name].key }}"
{% endfor %}
