---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: controller-admin-binding
subjects:
{% for client_device in pki_client_devices %}
- kind: User
  name: {{ client_device.common_name }}
  apiGroup: rbac.authorization.k8s.io
{% endfor %}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
