- name: Disable and Stop UFW (If service exists)
  ansible.builtin.service:
    name: ufw
    state: stopped
    enabled: false
  become: true
  ignore_errors: true
  register: ufw_stop_result
  failed_when: 
    - ufw_stop_result.failed
    - "'Could not find the requested service' not in ufw_stop_result.msg"
  tags:
    - network_workstations

- name: Uninstall UFW package
  ansible.builtin.package:
    name: ufw
    state: absent
  become: true
  tags:
    - network_workstations