- name: Install Firewalld and Python Adapter if not exists
  ansible.builtin.package:
    name:
      - firewalld
      - python3-firewall
    state: present
  become: true
  tags:
    - network_workstations

- name: Enable Firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: started
    enabled: true
  become: true
  tags:
    - network_workstations
